/* Archivo */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Josefin Sans */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
}

#formLogin {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 60%;
}

#login {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem
}
#login img {
  height: 100%;
  max-width: none;
  width: 60%;
  object-fit: contain;
}
#login fieldset input {
  width: 100%;
  flex: 1 0 auto;
  gap: 1rem;
  color: #202020;
  background-color: #f0f0f0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-bottom: 0.2rem solid #e35205;
}
#login fieldset.btns button {
  padding: 0.25rem 1.25rem;
  background: #ab2328;
  color: #f8f8f8;
  border-radius: 50px;
  margin-left: auto;
}

#sellerHome{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

#sellerHome article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

#activity{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#activity span{
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ab2328;
  color: #f8f8f8;
  padding: 0.2rem 0.4rem;
  border-radius: 50px;
}
/* 
#activity span section{
  text-align: center; */


/* #activity span i{
  background-color: #f0f0f0;
  color: #e35205;
  border-radius: 50px;
  height: 100%;
  max-width: none;
  width: 30%;
  text-align: center;
} */

#card{
  width: 100%;
  max-width: 290px;
  height: 3rem;
  background: #ab2328;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon{
  width: 50%;
  height: 50%;
  /* margin-left: 10px; */
  border-radius: 10px;
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: #f8f8f8;
  font-family: 'Josefin Sans' sans-serif;
}