:root{
  --light: rgb(255,255,255);
  --light-two:#f8f8f8;
  --light-alter:#f0f0f0;
  --content:#ab2328;
  --content-alter: #bf0d3e;
  --icon: #e35205;
  --icon-alter: #ff8200;
  --black: #0000;
  --dark-alter: #202020;
  --success:#40ba40;

  --font1:'Archivo', sans-serif;
  --font2:'Josefin Sans', sans-serif;

  --padding-input: 0.25rem 1rem;
  --padding-btn: 0.25rem 1.25rem;
  --padding-cart: 40px 20px;
  --padding-container: 20px 20px;
}

body {
  font-family: var(--font1);
}

main{
  width: 90%;
  margin: 0 auto;
}

.login{
  width: 100%;
  min-width: 270px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.login__picture{
  width: 80%;
  margin: 0 auto;
}

.login__img{
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.formLogin{
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.fieldset input{
  width: 100%;
  flex: 1 0 auto;
  color: var(--dark-alter);
  background-color: var(--light-alter);
  font-size: 1rem;
  padding: var(--padding-input);
  border-bottom: 0.2rem solid var(--icon);
  outline: none;
}

.fieldset input:focus{
  border: 0;
  outline: 0.2rem solid var(--icon);
}

.btn button{
  padding: var(--padding-btn);
  background-color: var(--content);
  color: var(--light-two);
  border-radius: 50px;
  margin: auto;
}

/* Seller view */
#sellerHome{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

#sellerHome article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

#activity{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#activity span{
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ab2328;
  color: #f8f8f8;
  padding: 0.2rem 0.4rem;
  border-radius: 50px;
} */
/* 
#activity span section{
  text-align: center; */


/* #activity span i{
  background-color: #f0f0f0;
  color: #e35205;
  border-radius: 50px;
  height: 100%;
  max-width: none;
  width: 30%;
  text-align: center;
} */

#card{
  width: 100%;
  max-width: 290px;
  height: 3rem;
  background: #ab2328;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon{
  width: 50%;
  height: 50%;
  /* margin-left: 10px; */
  border-radius: 10px;
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: #f8f8f8;
  font-family: 'Josefin Sans' sans-serif;
}

@media(min-width: 768px){
  .btn button{
    margin: 0;
    margin-left: auto;
  }

  .login__picture{
    max-width: 500px;
  }
}