extends ../layout.pug
block styles
    title Mis Pedidos
block content   
    h2 Mis Pedidos
    section 
        form(action="")
            fieldset
                input(type="date", name="date" placeholder="Fecha")
            fieldset
                select(name="client")
                    option(value="" default) clientes 
                    option(value="bucor ferreteria industrial") bucor ferreteria industrial
            fieldset
                select(name="delivery")
                    option(value="" default) Entrega 
                    option(value="send") Con Envio  
                    option(value="withdraw") Retirar 
            fieldset
                button 
                    img(src="", alt="Filtrar")
    table 
        tbody 
                td BUCOR FERRETERIA INDUSTRIAL
                td Precio: $14400
                td Comision: %20
                td Con envio
                td 
                    img(src="", alt="detalle")
include ../includes/footer.pug