block footer 
    if user
        footer 
            section
                each team in user.teams
                    if team.level == 2
                        a(href="/users/home") Inicio
                        a(href="/categories/") Catalogo
                        a(href="/clients/") Clientes
                        a(href="/requests/") Pedidos 
                    if team.level == 1
                        a(href="") Catalogo
                        a(href="") Clientes
                        a(href="") Pedidos
                        a(href="") Vendedores
                        a(href="") Modelos