if user
    nav 
        section
            a(href="/home") 
                img(src="/resources/img/logo Hbdistribuciones2.png", alt="HBdistribuciones")
        section
            each team in user.teams 
                if team.level == 2
                    a(href="/requests/cart")  
                        i.fa-solid.fa-cart-shopping
                    span#counter
                if team.level == 1
                    a(href="") 
                        i.fa-solid.fa-bars
            img(src=`${user.avatar}`, alt="Usuario")
        section 
            p #{user.userName}
            a(href="/home/logout") Cerrar Sesion
    //- script(src="/resources/js/includes/header.js") 