if user
    nav 
        section
            a(href="/home") 
                img(src="/resources/img/logo Hbdistribuciones2.png", alt="HBdistribuciones")
        section
            each team in user.teams 
                if team.level == 2
                    a(href="/requests/cart")  
                        img(src="/resources/img/shopping_cart.svg", alt="Carrito")
                if team.level == 1
                    a(href="") 
                        img(src="/resources/img/menu.svg", alt="Menu")
            img(src="/resources/img/users.svg", alt="Usuario")
    