if user
    header
        section
            a#brand(href="/home") 
                img(src="/resources/img/logo_Hbdistribuciones_1.png", alt="HBdistribuciones")
        section#action
            
                    a(href="/requests/cart") 
                        i.fa-solid.fa-cart-shopping
                    span#counter
                        if cart
                            #{Number(cart.length)}
                    a(href="/layout") 
                        i.fa-solid.fa-bars
                    figure#user-image 
                        img(src=`${user.avatar}`, alt="Usuario")
        section#user.hidden
            p #{user.userName}
            a(href="/home/logout") Cerrar Sesion
    script(src="/resources/js/includes/header.js") 