extends ../layout.pug
block styles
    title Categorías 
block content   
    section 
        a(href="") FERRETERÍA
        a(href="") CORTINERIA
        a(href="") HERRAJES
        a(href="") SANITARIOS
        a(href="") FORJADOS
        a(href="") BULONERA Y TORNILLERIA 
    section 
        h2 HERRAJES 
        article
            a(href="") BISAGRAS
            a(href="") CERRADURAS
            a(href="") COLGADORES
            a(href="") CARROS
            a(href="") ESCUADRAS 
include ../includes/footer.pug