extends ../layout.pug
block styles 
    title Nuevo Cliente 
block content 
    div  
        h2 Nuevo Usuario 
    section 
        form(action="/users/create" method="POST") 
            fieldset 
                select#selectUser(name="user")
                    option(value="admin") Administración 
                    option(value="seller") Vendedor 
            fieldset
                input(type="text" name="name" placeholder="Nombre de Usuario")
            fieldset
                input(type="email" name="email" placeholder="Correo")
            fieldset 
                input(type="number" name="phone" placeholder="3794123456")
            fieldset#image
                input(type="image")
            fieldset#comission
                input(type="text" name="comission")
            fieldset
                button Guardar
include ../includes/footer.pug