extends ../layout.pug
block styles 
    title Lista de Vendedores 
block content
    main 
        section
            h2  Lista de Vendedores
        search
            form(action="/users/search" method="GET") 
                fieldset 
                    input(type="search", name="search" placeholder="Buscar vendedor") 
                    button 
                        i.fa-solid.fa-search
        table
            tbody 
                each user in users 
                    tr 
                        td 
                            i.fa-solid.fa-image 
                        td #{user.userName}
                        section 
                            i.fa-solid.fa-box-archive
                            span 
                                td pedidos Hoy
                                td #{user.ordersLength}
                        td Comision: #{user.comission}% 
                        td 
                            a(href=`/users/show/${user.id}`) 
                                i.fa-solid.fa-eye      
                        td 
                            a(href="") 
                                i.fa-solid.fa-pen
                        td 
                            a(href="") 
                                i.fa-solid.fa-trash
include ../includes/footer.pug