@use '_variables';
body{
    padding-top:15vh;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: variables.$light;
    z-index: 10;
    transition: 0.5s;
    #brand{
        flex-basis: 15vw;
        height: 10vh;
        img{
            height: 100%;
            max-width: none;
            width: 100%;
            object-fit: contain;
        }
    }
    #action{
        display: flex;
        flex-grow: 1;
        height: 0vh;
        justify-content: flex-end;
        gap: 1rem;
        padding: 0 1rem;
        a{
            background-color: black;
            color: lightblue;
            position: relative
        }
        img{
            height: 3rem;
            max-width: none;
            width: 3rem;
            object-fit: contain;
            border-radius: 50%;
            background-color: variables.$icon-alter;
        };
        a[href="/requests/cart"]{
            position:fixed;
            background: variables.$black;
            color: variables.$black;
            font-size: 1rem;
            padding: .25rem;
            i{
                color: variables.$icon;
            }
        }
    }
    section#user {
      display: none;
    }
    section#user.visible {
      display: block;
      animation: slideDown 0.5s;
    }
    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  
  
  