block footer 
    footer 
        section
            a(href="/users/home") Inicio
            a(href="/categories/") Catalogo
            a(href="/clients/") Clientes
            a(href="/requests/") Pedidos 
        section
            a(href="") Catalogo
            a(href="") Clientes
            a(href="") Pedidos
            a(href="") Vendedores
            a(href="") Modelos