nav 
    section
        a(href="/users/home") 
            img(src="/resources/img/logo Hbdistribuciones2.png", alt="HBdistribuciones")
    section
        a(href="/requests/cart")  
            img(src="/resources/img/shopping_cart.svg", alt="Carrito")
        a(href="") 
            img(src="/resources/img/menu.svg", alt="Menu")
        img(src="/resources/img/users.svg", alt="Usuario")
    