extends ../layout.pug
block styles 
    title Lista de clientes 
block content
    main 
        section
            h2  Lista de Clientes
            form(action="") 
                input(type="search", name="search" placeholder="Busca un cliente aquí")
                button 
                    img(src="", alt="Buscar")
        table 
            if clients && clients.length > 0
                for client in clients         
                    td BUCOR FERRETERIA INDUSTRIAL 
                    td #{client.email}
                    td #{client.phone}
                    td #{client.address}
                    td Zona 1
                    td Editar 
                    td Borrar
include ../includes/footer.pug