extends layout.pug
block styles
    title Inicio
    link(rel="stylesheet", href="/resources/css/home.css")
block content
    main
        if !user
            section#login.login
                figure.login__picture 
                    img.login__img(src="/resources/img/logo_Hbdistribuciones_1.png", alt="HBdistribuciones")
                form#formLogin.formLogin(action="/home/login", method="post") 
                    fieldset.fieldset
                        input(type="email" name="email" placeholder="CORREO")
                    fieldset.fieldset
                        input(type="password", name="password" placeholder="CONTRASEÑA")
                    fieldset.btn
                        button(type="submit") INGRESAR
        else
            each team in user.teams
                if team.id === 2
                    section.sellerHome
                        div.sellerHome__activity
                            h2 ACTIVIDAD EN EL DIA  
                            article.sellerHome__miniActivity 
                                span.sellerHome__miniBox 
                                    .icon 
                                        i.fa-solid.fa-shop
                                    section.sellerHome__textBox
                                        p#p1 Pedidos 
                                        p#p2 #{user.ordersLength}
                                span.sellerHome__miniBox 
                                    .icon 
                                        i.fa-solid.fa-money-bill-wave
                                    section.sellerHome__textBox
                                        p Comision 
                                        p $#{user.total}
                        nav.sellerHome__options 
                            a.sellerHome__option(href="/categories/") CATALOGO
                            a.sellerHome__option(href="/clients/") CLIENTES 
                            a.sellerHome__option(href="/requests/") PEDIDOS
                if team.id === 1
                    section 
                        span 
                            i.fa-solid.fa-truck-fast
                            p Envios en Zona 1 
                            p 6
                        span 
                            i.fa-solid.fa-shop
                            p Retiros en Zona 1 
                            p 4
                        span 
                            i.fa-solid.fa-truck-fast
                            p Envios en Zona 2 
                            p 6
                        span 
                            i.fa-solid.fa-shop
                            p Retiros en Zona 2 
                            p 4
                        span 
                            i.fa-solid.fa-truck-fast
                            p Envios en Zona 3 
                            p 6
                        span 
                            i.fa-solid.fa-shop
                            p Retiros en Zona 3 
                            p 4
                    section 
                        article 
                            a(href="/products/new") 
                                i.fa-solid.fa-plus
                                p Nuevo Producto
                        article 
                            a(href="") 
                                i.fa-solid.fa-percent
                                p Actualizar Precios
                        article 
                            a(href="/clients/new") 
                                i.fa-solid.fa-store
                                p Nuevo Cliente
                        article 
                            a(href="/users/new")
                                i.fa-solid.fa-person-walking 
                                p Nuevo Usuario
include includes/footer.pug
    