extends includes/head.pug
block styles
    title Inicio

    body 
        img(src="./resources/img/logo Hbdistribuciones2.png", alt="HBdistribuciones")
        form(action="", method="post") 
            fieldset
                input(type="text" name="nombre" placeholder="Nombre de Usuario")
            fieldset
                input(type="password", name="contraseña")
            fieldset
                button(type="submit") Ingresar
    