html(lang='en')
    head 
        title API HBD  
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")   
    body    
        h1 API HBDistribuciones
        section
            fieldset
                form(action='/api/users', method='GET')
                    button(type='submit') Go User's list
            fieldset
                form(action='/api/clients', method='GET')
                    button(type='submit') Go Client's list
            fieldset
                form(action='/api/teams', method='GET')
                    button(type='submit') Go Team's list
            fieldset
                form(action='/api/categories', method='GET')
                    button(type='submit') Go Category's list
            fieldset
                form(action='/api/models', method='GET')
                    button(type='submit') Go Model's list
            fieldset
                form(action='/api/requests', method='GET')
                    button(type='submit') Go request's list     

