extends ../layout.pug
block styles 
    tittle Nuevo Producto 
block content 
    div  
        h2 Nuevo Producto 
    section 
        form(action="") 
            select(name="")
                option(value="") Categoría 
            select(name="")
                option(value="") SubCategoría
            select(name="")
                option(value="") Modelo
            fieldset 
                input(type="text" name="title")
            fieldset
                input(type="text" name="sku")
            fieldset
                input(type="number" name="price")
            fieldset
                input(type="number" name="stock")
            fieldset
                button Guardar
include ../includes/footer.pug