extends ../layout.pug
block styles 
    tittle Nuevo Producto 
block content 
    div  
        h2 Nuevo Producto 
    section 
        form(action="") 
            select(name="")
                option(value="") Categoría 
            select(name="")
                option(value="") SubCategoría
            select(name="")
                option(value="") Modelo
    table 
        td imagen del producto
        td Nombre del productos
        td sku
        td unidades
        td precio
        td editar
        td borrar
        td zonas de stock
        td desplegable de stock 
        section
            td stock: 
            td sin asignar:
            td zona 1:
            td zona 2:
            td zona 3:

include ../includes/footer.pug