extends ../layout.pug
block styles 
    tittle Actualizar Precio 
block content 
    div  
        h2 Actualizar Precio 
    section 
        form(action="") 
            select(name="")
                option(value="") Categoría 
            select(name="")
                option(value="") SubCategoría
            select(name="")
                option(value="") Modelo
            fieldset 
                input(type="text", name="name")
            fieldset 
                input(type="number", name="price")
            fieldset
                button Actualizar

include ../includes/footer.pug