extends ../layout.pug 
block styles 
    title Vendedor 
block content 
    div
        h1 Perfil Vendedor
    article
        section  
            img(src="", alt="Perfil")
            h2 Nombre de Vendedor 
        section 
            form(action="")     
                select(name="area") 
                    option(value="area1") area 1
                button 
                    img(src="", alt="actualizar")
    article 
        section 
            form(action="") 
                fieldset 
                    select(name="delivery") 
                        option(value="sned") Entrega
                        option(value="withdraw") Sucursal
                fieldset 
                    input(type="date") 
                fieldset 
                    input(type="date")
                button 
                    img(src="", alt="filtrar")
        table 
            td Ferreteria Chacabuco 
            td precio
            td comision 
            td Retirar por sucursal 
        section 
            span 
                img(src="", alt="Pedidos")
                p Pedidos 
                p 2
            span 
                img(src="", alt="Comision")
                p Comision 
                p $30000
include ../includes/footer.pug
